<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Latest Posts</h2>
      </div>
      {% for post in site.posts offset:0 limit:3 %}
      {% include post.html %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="col text-center">
        <a href="{{ site.base-url }}/blog" class="btn btn-primary text-center">Go To Blog</a>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->