<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.title }}{% endif %}</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{%if page.description%}{{page.description}}{%else%}{{site.data.settings.description}}{%endif%}">
    
  {% if site.author %}
  <meta name="author" content="{{ . }}">
  {% endif %}
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- syntax highlight -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <!-- ** Plugins Needed for the Project ** -->
  {% for css in site.data.plugins.css %}
  <link rel="stylesheet" href="{{ css | relative_url }}">
  {% endfor %}


  <!-- Main Stylesheet -->
  <link href="{{ '/assets/scss/style.css' | relative_url }}" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="{{ '/assets/images/favicon.png' | relative_url }} " type="image/x-icon">
  <link rel="icon" href="{{ '/assets/images/favicon.png' | relative_url }} " type="image/x-icon">

  <!-- google analytics -->
  {% if site.data.settings.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

</head>
