{% if site.data.settings.portfolio-items %}
<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Latest Projects</h2>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.portfolio-items %}
        {% if item.home == true %}
         <div class="col-lg-4 col-6 mb-4 shuffle-item">
          <div class="position-relative rounded hover-wrapper">
            <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
            <div class="hover-overlay">
              <div class="hover-content">
                <a class="btn btn-light btn-sm" href="{{ item.url }}">View Project</a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="col text-center">
        <a href="{{ site.base-url }}/portfolio" class="btn btn-primary text-center">Go To Projects</a>
      </div>
    </div>
  </div>
</section>
<!-- /portfolio -->
{% endif %}